<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
</head>
<body>

  <header class="shadow">
    <nav class="navbar navbar-expand-lg navbar-light bg-light header-background-color">
      <div class="container">
        <a class="navbar-brand" href="#"><i class="fas fa-plane"></i> Travel App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#travel-planner-container">Plan Your Trip</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about-us-header">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="main-content-container">
    <div class="slide-show-container">
      <ul class="slide-show">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <!-- Floating text shown above the slide-show -->
    <div class="slide-show-text-container">
      <h1 class="display-3">WELCOME TO TRAVEL APP</h1>
      <p class="lead">Where you can plan all your travels!</p>
      <div class="line-seperator-container">
        <div class="line-seperator"></div>
      </div>
    </div>

    <div id="travel-planner-container" class="travel-planner-container">
      <h3>Where you want to go?</h3>
      <form class="custom-form-container">
        <div class="form-group">
          <label for="city-from">From</label>
          <input id="city-from" type="text" name="city-from" class="form-control" placeholder="Riyadh">
          <div class="invalid-feedback">Please provide a valid city name</div>
        </div>

        <div class="form-group">
          <label for="city-to">To</label>
          <input id="city-to" type="text" name="city-to" class="form-control" placeholder="Jeddah">
          <div class="invalid-feedback">Please provide a valid city name</div>
        </div>

        <div class="form-group">
          <label for="departure-date">Departure On</label>
          <input id="departure-date" type="date" name="departure-date" class="form-control" placeholder="dd/MM/yyyy">
          <div class="invalid-feedback">Please provide a valid futuristic date (dd/MM/yyyy)</div>
        </div>

<!--        <div class="form-group">-->
          <button id="view-trip-button" type="submit" class="btn btn-secondary" onclick="return Client.handleSubmission(event)" onsubmit="return Client.handleSubmission(event)">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <br/>
            View Trip
          </button>
<!--        </div>-->
      </form>
    </div>

    <div class="container">
      <div id="error-message-alert-box" class="alert alert-danger d-none"></div>
<!--      Show cards if they exist-->
<!--      d-none-->
      <div id="trip-cards-container" class="trip-cards-container">
        <section id="viewed-trip-container" class="trip-view-container d-none">
          <h4>Viewed Trip</h4>
          <div id="viewed-trip" class="viewed-trip">
<!--            We should put a viewed trip here-->
            <div class="card">
              <img id="viewed-trip-image" class="card-img-top" alt="place image">
              <div class="card-body">
                <div>
                  <h5 class="card-title"><span id="viewed-trip-header"></span> - <span id="viewed-trip-departure-countdown"></span></h5>
                </div>

                <ul id="viewed-trip-temperature-list" class="viewed-trip-temperatures-list"></ul>

                <button type="submit" class="btn btn-primary" onclick="Client.saveViewedTrip()"><i class="fas fa-save"></i> Save Trip</button>
              </div>
            </div>
          </div>

          <div class="line-seperator-container">
            <div class="line-seperator"></div>
          </div>
        </section>

        <section id="saved-trips-container" class="d-none">
          <h4>Saved Trips</h4>
          <div id="saved-trips-grid" class="saved-trips-grid">
          </div>
        </section>
      </div>
    </div>

    <div class="line-seperator-container">
      <div class="line-seperator"></div>
    </div>

    <div class="container">
      <div id="about-us-header" class="about-us-header">
        <h3>About Us</h3>
      </div>

      <div class="row align-items-center about-row">
        <div class="col-4 about-us-image-container">
          <i class="fa fa-plane fa-10x" aria-hidden="true"></i>
        </div>

        <div class="col-8">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit alias necessitatibus, perferendis quam, incidunt ab tenetur aspernatur aliquid inventore blanditiis sit harum a dolore ratione, nostrum nam doloremque quae magnam?Modi, voluptate, tempora molestias veritatis eum cupiditate ipsa at saepe ducimus labore cumque ipsum nemo dicta corporis est quis sequi nobis quaerat aliquam numquam vero culpa. Dicta, ad? Quia, cupiditate.</p>
        </div>
      </div>

      <div class="row align-items-center about-row">
        <div class="col-8">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit alias necessitatibus, perferendis quam, incidunt ab tenetur aspernatur aliquid inventore blanditiis sit harum a dolore ratione, nostrum nam doloremque quae magnam?Modi, voluptate, tempora molestias veritatis eum cupiditate ipsa at saepe ducimus labore cumque ipsum nemo dicta corporis est quis sequi nobis quaerat aliquam numquam vero culpa. Dicta, ad? Quia, cupiditate.</p>
        </div>

        <div class="col-4 about-us-image-container">
          <i class="fa fa-plane fa-10x fa-flip-horizontal" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <!-- My Footer -->
  </footer>
</body>
</html>