<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
</head>
<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light header-background-color">
      <div class="container">
        <a class="navbar-brand" href="#">Travel App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="main-content-container">
    <div class="slide-show-container">
      <ul class="slide-show">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <div class="slide-show-text-container">
      <h1>WELCOME TO TRAVEL APP</h1>
      <p>Where you can plan all your travels!</p>
      <div class="line-seperator-container">
        <div class="line-seperator"></div>
      </div>
    </div>
  </main>

  <footer>
    <!-- My Footer -->
  </footer>
</body>
</html>