<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
</head>
<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light header-background-color">
      <div class="container">
        <a class="navbar-brand" href="#"><i class="fas fa-plane"></i> Travel App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Plan Your Trip</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="main-content-container">
    <div class="slide-show-container">
      <ul class="slide-show">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <!-- Floating text shown above the slide-show -->
    <div class="slide-show-text-container">
      <h1 class="display-3">WELCOME TO TRAVEL APP</h1>
      <p class="lead">Where you can plan all your travels!</p>
      <div class="line-seperator-container">
        <div class="line-seperator"></div>
      </div>
    </div>

    <div class="container">
      <div class="row align-items-center about-row">
        <div class="col-4">
          <img src="../public/thumbnail-1.png" alt="Airplane picture" class="img-thumbnail">
        </div>

        <div class="col-8">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit alias necessitatibus, perferendis quam, incidunt ab tenetur aspernatur aliquid inventore blanditiis sit harum a dolore ratione, nostrum nam doloremque quae magnam?Modi, voluptate, tempora molestias veritatis eum cupiditate ipsa at saepe ducimus labore cumque ipsum nemo dicta corporis est quis sequi nobis quaerat aliquam numquam vero culpa. Dicta, ad? Quia, cupiditate.</p>
        </div>
      </div>

      <div class="row align-items-center about-row">
        <div class="col-8">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit alias necessitatibus, perferendis quam, incidunt ab tenetur aspernatur aliquid inventore blanditiis sit harum a dolore ratione, nostrum nam doloremque quae magnam?Modi, voluptate, tempora molestias veritatis eum cupiditate ipsa at saepe ducimus labore cumque ipsum nemo dicta corporis est quis sequi nobis quaerat aliquam numquam vero culpa. Dicta, ad? Quia, cupiditate.</p>
        </div>

        <div class="col-4">
          <img src="../public/thumbnail-1.png" alt="Airplane picture" class="img-thumbnail">
        </div>
      </div>
    </div>
  </main>

  <footer>
    <!-- My Footer -->
  </footer>
</body>
</html>